<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>rickandmortyApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>greycliffcf-bold.otf</string>
		<string>greycliffcf-boldoblique.otf</string>
		<string>greycliffcf-demibold.otf</string>
		<string>greycliffcf-demiboldoblique.otf</string>
		<string>greycliffcf-extrabold.otf</string>
		<string>greycliffcf-extraboldoblique.otf</string>
		<string>greycliffcf-extralight.otf</string>
		<string>greycliffcf-extralightoblique.otf</string>
		<string>greycliffcf-heavy.otf</string>
		<string>greycliffcf-heavyoblique.otf</string>
		<string>greycliffcf-light.otf</string>
		<string>greycliffcf-lightoblique.otf</string>
		<string>greycliffcf-medium.otf</string>
		<string>greycliffcf-mediumoblique.otf</string>
		<string>greycliffcf-regular.otf</string>
		<string>greycliffcf-regularoblique.otf</string>
		<string>greycliffcf-thin.otf</string>
		<string>greycliffcf-thinoblique.otf</string>
	</array>
</dict>
</plist>
